.history {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 25%;
  padding: 1em;
  border-right: 1px solid yellow;
}

.history h2 {
  text-align: center;
  font-size: 2.5em;
}

.history ul {
  overflow: scroll;
}

.history ul::-webkit-scrollbar {
  display: none;
}

.choosen-answer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .history {
    width: auto;
    border-right: none;
    height: 35vh;
    border-top: 1px solid yellow;
  }

  .history ul {
    font-size: 1.2em;
  }
}
