input[type="radio"] {
  appearance: none;
  min-width: 20px;
  height: 20px;
  border: 2px solid yellow;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: yellow;
}

label {
  cursor: pointer;
}
